.sidebar-main{
  height: 100vh;
  top: 0 !important;
  bottom: 0 !important;
  position: relative !important;
  display: block !important;
  align-self: stretch;
  overflow-y: auto;
  width: 0px;
  transition: width 0.4s all ease-in-out;
}


.sidebar-main.active{
  width: 270px !important;
}


.sidebar-main>.menu-toggle-btn{
  display: block !important;
}
@media (max-width: 768px) {
.sidebar-main.active, .sidebar-main{
  position: fixed !important;
  min-height: 100vh;
}
.sidebar-main.active{
  width: 170px !important;
}

}



.menu-toggle-btn{
  cursor: pointer !important;
}