table{

}
table{
  width: 100%;
  table-layout: auto;
}
th{
    font-weight: 700;
    opacity: .8;
}
th, td {
  padding: 3px 4px;
  text-align: left;
  text-align: start;
    vertical-align: middle;
    word-break: keep-all;
}
td{
    font-size: 5rem;
}
   