.notification-wrapper{
   width: auto;
   min-width: 60%;
        height: auto;
        padding: "30px 10px";
        position: relative;
      
             max-height: max-content;
             border: 1px solid #161111;
          min-width: 380px;
         z-index:50;
         resize: both;
         overflow: scroll;
         top: 25px;
         /* margin-top: 490px; */

}
