.notification-wrapper{
   width: auto;
   min-width: 60%;
        height: auto;
        padding: "30px 10px";
        position: absolute;
      
        background-color: #fff;
        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
        max-height: 400px;
          min-width: 350px;
         z-index:50;
         resize: both;
         overflow: scroll;

}
.table-container{
  z-index: 30;
}

.text_cell{
  word-wrap: break-word;
  word-break: keep-all;
  font-size: .8rem;
}

.table-container>table{
  width: 100%;
  table-layout: fixed;

  border-collapse: collapse;
  resize: both;
  overflow: auto;
}

.table-container> th, td {
  padding: 4px 2px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: start;
    vertical-align: middle;
    font-size: xx-small !important;
    /* word-wrap: break-word; */
    word-break: keep-all;
    
}

.td-small{
  font-size: .5rem;
  font-weight: 400;
}

.inner-table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  resize: both;
  overflow: auto;
}


@media (max-width: 900px) {
  .table-container{
    min-width: 90%;
  }
  
}


@media (max-width: 500px) {
  .table-container{
    min-width: 100%;
  }
  
}