.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.left-half-clipper {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  left: 0;
}

.first50-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 60px, 120px, 0);
  background-color: #e5e5e5;
}

.value-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 60px, 120px, 0);
  background-color: #2196f3;
}

/* Change the width of the value-bar to adjust the percentage */
.value-bar {
  clip: rect(0, 60px, 120px, 60px);
}




.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba(224, 88, 88, 0.2);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50vw, 50vh);
  }
}
